{% extends "base.html" %}

{% block content %}
<div class = "jumbotron">
    <div class = "container">
        <h2>Agregar Occurencia</h2>
        <div class="accordion" id="accordionExample">
          <form method="POST" class="post-form">{% csrf_token %}
          <div class="card ">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Campos obligatórios
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">

                <p> Nombre cientifico {{ form.scientificName }} </p>
                <p> Familia {{ form.family }}</p>
                <p> Posee coordenada? {{ form.hasCoordinate }}</p>
              </div>
            </div>
          </div>
          <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Campos opcionales
                    </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <p>País {{ form.county }}</p>
                    <p>TaxonRank {{ form.taxonRank }}</p>
                    <p>Municipalidad {{ form.municipality }}</p>
                    <p>Localidad {{ form.locality }}</p>
                </div>
              </div>
           </div>


        <button type="submit" class="btn btn-success">Guardar</button>

        </form>
    </div>
</div>
</div>

{% endblock %}