{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'libs/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <h1>

    </h1>

    {% if user.is_authenticated %}
        <div id="map">
        </div>
        <input type="hidden" id="occs_geojson" value="{% url 'sndb:occs_geojson' %}">
    {% else %}
        <div class="alert alert-danger" role="alert">
            Acceso negado. Logar o crear usuário.
        </div>
    {% endif %}
{% endblock content %}

{% block js %}
    <script>
        var heatCoords = [
            {% for occ in occs %}
                {% if occ.geom_original %}
                    [{{ occ.geom_original.y|safe }}, {{ occ.geom_original.x|safe }}, 1],
                {% endif %}
            {% endfor %}
        ];
    </script>
    <script type="application/javascript" src="{% static 'libs/leaflet/leaflet.js' %}"></script>
    <script type="application/javascript" src="{% static 'libs/leaflet-heat/leaflet-heat.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock js %}