{% extends "base.html" %}

{% block content %}
<div class="col-md-8">
    {% if user.is_authenticated %}
        <h2><i class ="fa fa-pagelines"></i> Lista biodiversidad</h2>
        {% if object_list %}
            <table class = 'table table-striped'>
                <thead>
                <tr>
                    <th>Nombre scientifico</th>
                    <th>Familia</th>
                    <th>Posee coordenadas?</th>
                    <th>Departamento</th>
                    <th>Taxon rank</th>
                    <th>Municipalidad</th>
                    <th>Localidad</th>
                </tr>
                </thead>

                {% for object in page_obj %}
                <tr>
                    <td>
                        <a href="{{ object.get_absolute_url }}">{{ object.scientificName }}</a>
                    </td>
                    <td>{{ object.Family }}</td>
                    <td>{{ object.hasCoordinate }}</td>
                    <td>{{ object.county }}</td>
                    <td>{{ object.taxonRank }}</td>
                    <td>{{ object.municipality }}</td>
                    <td>{{ object.localilty }}</td>
                </tr>
                {% endfor %}
            </table>

    <div class="pagination">
    <span class="step-links">
            {% if page_obj.has_previous %}
                <a class="btn btn-success" href="?page=1" role="button"> Início </a>
                <a class="btn btn-secondary" href="?page={{ page_obj.previous_page_number }}" role="button"> Anterior </a>
            {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

            {% if page_obj.has_next %}
                <a class="btn btn-secondary" href="?page={{ page_obj.next_page_number }}" role="button"> Próximo </a>
                <a class="btn btn-danger" href="?page={{ page_obj.paginator.num_pages }}" role="button"> Último </a>
            {% endif %}
                </span>
    </div>
        {% else %}
            <p class="alert alert-warning">
            <i class="fa fa-warning"></i> Base de datos sin registros!</p>
        {% endif %}
</div>

    {% else %}
        <div class="alert alert-danger" role="alert">
            Acceso negado. Logar o crear usuário.
        </div>
    {% endif %}

{% endblock content %}
