{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'libs/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    {% if user.is_authenticated %}
        <div id="map">
        </div>
        <input type="hidden" id="occs_geojson" value="{% url 'sndb:occs_geojson' %}">
        <input type="hidden" id="occsCoord" value="{% url 'sndb:occsList' %}">
    {% else %}
        <h1>Acceso negado. Logar o crear usuário</h1>
    {% endif %}
{% endblock content %}

{% block js %}
    <script src="{% static 'libs/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'libs/leaflet-heat/leaflet-heat.js' %}"></script>
    <script src="{% url 'sndb:occsList' %}"></script>
    <script src="{% static 'js/map.js' %}"></script>
{% endblock js %}